@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

:root{
  --pink-color: #d756b3;
  --purple-color: #94389b;
  --yellow-color: #febf00;
  --blue-color: #291e63;
  --whity-color: #fef6e9;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Beiruti", serif;
}
html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  background-color: var(--whity-color);
}

nav {
    /* padding: top right bottom left */
    /* padding: top-bottom right-left */
  padding: 26.5px 120px;
  height: 110px;
  display: flex;
  background-color: rgba(248, 240, 227, 1);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 97px;
  width: 89px;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--whity-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-width {
  width: 56px;
  height: 56px;
}
.gap-16{
  gap: 16px;
}
.gap-32{
  gap: 32px;
}

.menu-btn {
  width: 194px;
  height: 56px;
  border-radius: 8px;
  gap: 8px !important;
  padding: 12px 24px;
  border: none;
  background-color: var(--purple-color);
  color: var(--whity-color);
  cursor: pointer;
}
.menu-btn span{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  transform: rotate(45deg);
}




.menubar {
  position: absolute;
  top: 0;
  right: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100vh;
  padding: 10% 0;
  background: var(--whity-color);
  transition: all 0.3s ease-in;
  z-index: 2;
}
.active {
  right: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a, .menu-item {
  text-decoration: none;
  color: rgba(62, 62, 62, 1);
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 8px;
}
.menu-active{
  color: var(--purple-color);
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px;
}
.menubar ul li a:active {
  color: var(--purple-color);
}
.menubar ul li a:hover {
  background-color: #f5f5f5;
}

.cart {
  display: none;
  height: 52px;
  width: 48px;
  cursor: pointer;
}
/* .cart img {
  height: 40px;
  width: 40px;
} */
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}








/* MAIN SECTION */

.main { 
  background: url(assets/Home.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
