@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap");

:root {
  --pink-color: #d756b3;
  --purple-color: #94389b;
  --yellow-color: #febf00;
  --blue-color: #291e63;
  --whity-color: #fef6e9;
  --text-color: rgba(62, 62, 62, 1);
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Beiruti", serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  background-color: var(--whity-color);
}

/* CUSTOM CSS */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}
.h-87 {
  height: 87px;
}
/* NAVBAR */
nav {
  /* padding: top right bottom left */
  /* padding: top-bottom right-left */
  padding: 26.5px 120px;
  height: 110px;
  display: flex;
  background-color: rgba(248, 240, 227, 1);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 97px;
  width: 89px;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--whity-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.icon-width {
  width: 56px;
  height: 56px;
}

.menu-btn {
  width: 194px;
  height: 56px;
  border-radius: 8px;
  gap: 8px !important;
  padding: 12px 24px;
  border: none;
  background-color: var(--purple-color);
  color: var(--whity-color);
  cursor: pointer;
}
.menu-btn span {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  transform: rotate(45deg);
}

.menubar {
  position: absolute;
  top: 0;
  right: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100vh;
  padding: 10% 0;
  background: var(--whity-color);
  transition: all 0.3s ease-in;
  z-index: 2;
}
.active {
  right: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a,
.menu-item {
  text-decoration: none;
  color: rgba(62, 62, 62, 1);
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 8px;
}
.menu-active {
  color: var(--purple-color);
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px;
}
.menubar ul li a:active {
  color: var(--purple-color);
}
.menubar ul li a:hover {
  background-color: #f5f5f5;
}

.cart {
  display: none;
  height: 52px;
  width: 48px;
  cursor: pointer;
}
/* .cart img {
  height: 40px;
  width: 40px;
} */
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

/* MAIN SECTION */

.main {
  background: url(assets/Home.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel {
  padding-top: 100.5px;
}
.basis-1\3 {
  flex-basis: 33.33%;
}

.right-div {
  display: flex;
  flex-direction: row;
  gap: 14.22px;
  text-align: right;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 200px 0 0 200px;
  padding: 10px 62.1px 10px 0;
  width: 378px;
  height: 107px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.right-div h2 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
}

.right-div p {
  color: rgba(97, 97, 97, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
}
.right-div span {
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.right-div img {
  width: 97.9px;
  height: 97.9px;
}
.active-right-div {
  display: flex;
  align-items: center;
  background: linear-gradient(
    -90deg,
    var(--purple-color) 30%,
    var(--pink-color) 100%
  );
  width: 449px;
  height: 138px;
  padding: 12px 94.03px 12px 8px;
  gap: 4px;
  border-radius: 400px 0px 0px 400px;
  border: 8px 0px 0px 0px;
  opacity: 1px;
  color: var(--whity-color);
}
.active-right-div img {
  width: 122px;
  height: 122px;
  top: 8px;
  left: 8px;
  gap: 0px;
  opacity: 0px;
  
}
.active-right-div p {
  color: var(--whity-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
}
.active-right-div span {
  font-weight: 700;
}
.book-data {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 4px;
  justify-content: space-around;
  align-items: start;
}

.left-div {
  display: flex;
  flex-direction: row;
  gap: 14.22px;
  text-align: right;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 200px 200px 0;
  padding: 10px 0 10px 62.1px;
  width: 378px;
  height: 107px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.active-left-div {
}
.left-div h2 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
}

.left-div p {
  color: rgba(97, 97, 97, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
}
.left-div span {
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.left-div img {
  width: 97.9px;
  height: 97.9px;
}
